<div class="row">
</div>
<app-autocomplete (selectedCv)="onCvSelected($event)"></app-autocomplete> 
<div>
  <div class="col-md-5">
    <div class="alert alert-warning">
      {{ date | date : "full" | uppercase }}
    
      
    </div>
    <button 
        (click)="change('junior')" 
        [class.active]="currentTab === 'junior'" 
        class="btn btn-primary"
      >
        Juniors
      </button>
      <button 
        (click)="change('senior')" 
        [class.active]="currentTab === 'senior'" 
        class="btn btn-secondary"
      >
        Seniors
      </button>
    

    <div *ngIf="currentTab === 'junior'">
      <app-list [cvs]="juniorvc$ | async"></app-list>
    </div>
    <div *ngIf="currentTab === 'senior'">
      <app-list [cvs]="serniorcv$ | async"></app-list>
    </div>
  </div>
  <div class="col-md-4">
    <app-cv-card [cv]="selectedCv$ | async"></app-cv-card>
  </div>
</div>
<app-embauche></app-embauche>
